// background colors
$primary-background-color: #FFFFFF;
$primary-theme-color: #DE0B0B;
$default-hover-color: #f0f0f0;

// fonts

$primary-font: "Inter", sans-serif;

// outlines
$outline-color-1: #737373;
$outline-color-2 :#141414;

// font color

$white-font-color :white;

